<!DOCTYPE html>
<html lang="pl-PL">
<head>
    <meta charset="utf-8">
    <title>Email o czasie</title>
</head>
<body style="text-align: center">
    <h1>
        Witam pana 😊
    </h1>
    <br />
    <p style="color: green">
        Przesyłam zgodnie z planem aktualny czas:
    </p>
    <b>
        Aktualna godzina wynosi %%TIME%%.
    </b>
    <p style="color: blue">
        Dziękuję :) 🐈
    </p>
    <br />
    <br />
    <footer>
        Wysłane o czasie %%TIME%%.
    </footer>
</body>
</html>