
/* Active courses */
#chirurgia {
    color: #045d46;
}

.chirurgia {
    background-color: #045d46;
    color: white;
}

#hematologia {
    color: #594f8f;
}

.hematologia {
    background-color: #594f8f;
    color: white;
}

#kardiologia {
    color: #a00250;
}

.kardiologia {
    background-color: #a00250;
    color: white;
}

#nsn {
    color: #88000c;
}

.nsn {
    background-color: #88000c;
    color: white;
}

#ztnp {
    color: #de621e;
}

.ztnp {
    background-color: #de621e;
    color: white;
}

#pracakliniczna {
    color: #5b7f8b;
}

.pracakliniczna {
    background-color: #5b7f8b;
    color: white;
}

#rtgjb {
    color: #507293;
}

.rtgjb {
    background-color: #507293;
    color: white;
}

#rtgkp {
    color: #004070;
}

.rtgkp {
    background-color: #004070;
    color: white;
}

#rtgkosci {
    color: #004e91;
}

.rtgkosci {
    background-color: #004e91;
    color: white;
}

#rozrodkoni {
    color: #292929;
}

.rozrodkoni {
    background-color: #292929;
    color: white;
}

#egzotyki {
    color: #207a6a;
}

.egzotyki {
    background-color: #207a6a;
    color: white;
}

#ecc1 {
    color: #9d1615;
}

.ecc1 {
    background-color: #9d1615;
    color: white;
}

#ecc2 {
    color: #4c0208;
}

.ecc2 {
    background-color: #4c0208;
    color: white;
}

/* Upcoming courses */
#usginter {
}

.usginter {
    background-color: white;
    color: #212338;
}

#okulistyka {
}

.okulistyka {
    background-color: white;
    color: #212338;
}