<p>
    Na <a href="https://www.newgradvets.com/">naszej stronie</a> znajdziesz wszystkie informacje dotyczące naszych
    kursów, ale jeśli będziesz mieć dodatkowe pytania, to pozostajemy do Twojej dyspozycji :)
</p>
<p>
    Zapisując się na aktualną edycję kursu - automatycznie wypisujesz się z listy osób oczekujących. Jeśli chcesz na
    niej pozostać, ponieważ obecny termin Ci nie odpowiada, nie musisz nic robić, odezwiemy się do Ciebie, jak tylko
    poznamy kolejną datę kursu.
</p>
<p>
    Do usłyszenia! <br />
    Zespół NEWGRADVETS
</p>
</div>
</div>
</body>
</html>
