<div class="signon"
     style="margin-bottom: 1em; text-align: center; min-width: max-content; overflow: hidden; white-space: nowrap; padding: 4px 18px; border-radius: 5px;color: #212338 !important;background-color: white;font-size: max(18px, 1.1rem) !important;  ">
    <p class="signon-text" style="color: #212338; margin:20px;">
        Zapisy na ten kurs trwają już teraz!

        <a href="https://www.newgradvets.com/courses/enrolled/__IDKURSU__">
            <button style="font-size:max(18px,1.1rem)!important; border-radius: 5px;background-color: #3f8a95;border: none;color: #FFFFFF;text-align: center;padding: 13px 18px;width: 200px; margin-left: 2em">
                <span>Dowiedz się więcej</span></button>
        </a>
    </p>
</div>
