<!DOCTYPE html>
<html lang="en" style="background-color: #fafafa">
<head>
    <meta charset="UTF-8">
    <title>Powiadom mnie o starcie kursu ~ NEWGRADVETS</title>
    <style>
        __CSS__
    </style>
</head>
<body style="padding:1em; background-color: #fbfbfb;min-width: 100%;font-family: 'Montserrat', sans-serif;text-rendering: optimizeLegibility;color: #212338;font-size: max(17px, 1.05rem) !important; ">
<div>
    <div id="main" style="max-width: 50em; margin-left: auto; margin-right: auto;">