<h1 style="margin-top: 1em; " id="chirurgia">Chirurgia - Sekret Tkwi w Szczegółach</h1>
<div class="chirurgia" style="padding: 0.5em 2em;">
    <p>
        Podczas naszego pierwszego kursu z zakresu chirurgii weterynaryjnej planujemy zmienić Twoje spojrzenie na salę
        operacyjną i skalpel w Twojej dłoni. Wejdź w buty prowadzącego Cię specjalisty, rozwiązując zagadki kliniczne, i
        uzupełnij swoją wiedzę - w naszych kursach teoria jest tak mocno spleciona z praktyką, że nie ma mowy o wkuwaniu
        suchych formułek! Podczas tego intensywnego, 6-tygodniowego kursu, wprowadzimy Cię do świata chirurgii
        weterynaryjnej, a poprzez szczegółowe omówienie najważniejszych elementów pracy z pacjentem chirurgicznym -
        pomożemy
        Ci zdobyć więcej pewności siebie, nie tylko ze skalpelem lub igłą w dłoni.
    </p>
    __SIGNON__
</div>