<div class="hematologia">
    <h1 id="hematologia">Hematologia w Gabinecie Internisty</h1>

    <p>
        Podczas tego intensywnego kursu zgłębisz tajniki analizy badań krwi, interpretacji wyników i diagnozowania
        różnorodnych schorzeń układu krwiotwórczego. Podczas odrabiania specjalnie opracowanych zadań domowych wcielisz
        się
        w rolę specjalisty hematologa i będziesz samodzielnie analizować wyniki oraz opisywać zmiany pod mikroskopem.
        Wszystko podane w przystępnej formie rozłożonej na tematyczne moduły ułatwiające przyswojenie sobie materiału.
    </p>
</div>