<h1 style="margin-top: 1em;" id="hematologia">Hematologia w Gabinecie Internisty</h1>
<div class="hematologia" style="padding: 0.5em 2em;">

    <p>
        Podczas tego intensywnego kursu zgłębisz tajniki analizy badań krwi, interpretacji wyników i diagnozowania
        różnorodnych schorzeń układu krwiotwórczego. Podczas odrabiania specjalnie opracowanych zadań domowych wcielisz
        się
        w rolę specjalisty hematologa i będziesz samodzielnie analizować wyniki oraz opisywać zmiany pod mikroskopem.
        Wszystko podane w przystępnej formie rozłożonej na tematyczne moduły ułatwiające przyswojenie sobie materiału.
    </p>
    __SIGNON__
</div>