<div class="nsn">
    <h1 id="nsn">Neurologiczne Stany Nagłe</h1>
    <p>
        Ten kompleksowy kurs skierowany jest zarówno do studentów ostatnich semestrów medycyny weterynaryjnej i świeżo
        upieczonych absolwentów, jak i praktykujących już lekarzy, chcących poznać kluczowe aspekty opieki nad pacjentem
        wykazującym objawy nagłych zaburzeń neurologicznych. Trójka prowadzących - doświadczonych lekarzy weterynarii
        zajmujących się na co dzień stanami nagłymi - przeprowadzi Cię przez proces opieki nad pacjentem, od jego
        pojawienia
        się w gabinecie, przez badania i diagnozę, po wdrożenie leczenia. Omówimy także sposoby skutecznej komunikacji z
        klientem, szczególnie ważnej i wyjątkowo trudnej w momencie, gdy na szali leży zdrowie i życie jego ukochanego
        pupila.
    </p>
</div>