<div class="rtgkosci">
    <h1 id="rtgkosci">
        Radiologia Układu Kostnego
    </h1>

    <p>
        Podczas tego intensywnego 7-tygodniowego kursu nauczysz się jak właściwie dobrać odpowiedni dla pacjenta rodzaj
        badania i jego parametry, wprawisz się w sztuce pozycjonowania i wyćwiczysz w interpretacji zdjęć rentgenowskich
        układu kostnego. Pokażemy ci mnóstwo prawdziwych zdjęć rentgenowskich, dzięki czemu rozpoznawanie jednostek
        chorobowych stanie się dla ciebie czymś zupełnie naturalnym.
    </p>
</div>