<h1 style="margin-top: 1em;" id="rtgjb">Radiologia Jamy Brzusznej</h1>
<div class="rtgjb" style="padding: 0.5em 2em;">

    <p>
        Podczas tego intensywnego, 7-tygodniowego kursu, nauczysz się, jak właściwie dobrać odpowiedni dla pacjenta
        rodzaj
        badania i jego parametry, wprawisz się w sztuce pozycjonowania i wyćwiczysz w interpretacji zdjęć RTG. Każdy
        narząd
        w jamie brzusznej zostanie dokładnie omówiony, a ponadto pokażemy ci mnóstwo prawdziwych zdjęć RTG najnowszej
        technologii, dzięki czemu rozpoznawanie jednostek chorobowych stanie się dla ciebie czymś zupełnie naturalnym.
        Podczas odrabiania specjalnie opracowanych zadań domowych, wcielisz się w rolę specjalisty radiologa i będziesz
        samodzielnie analizować zdjęcia RTG najczęstszych przypadków klinicznych. Wszystko podane w przystępnej formie,
        rozłożonej na tematyczne moduły, ułatwiające przyswojenie sobie materiału.
    </p>
    __SIGNON__
</div>