<div class="rtgkp">
    <h1 id="rtgkp">Radiologia Klatki Piersiowej</h1>

    <p>
        Podczas tego intensywnego 7-tygodniowego kursu nauczysz się jak właściwie dobrać odpowiedni dla pacjenta rodzaj
        badania i jego parametry, wprawisz się w sztuce pozycjonowania i wyćwiczysz w interpretacji zdjęć rentgenowskich
        klatki piersiowej. Każdy narząd w klatce piersiowej zostanie dokładnie omówiony, a ponadto pokażemy ci mnóstwo
        prawdziwych zdjęć rentgenowskich, dzięki czemu rozpoznawanie jednostek chorobowych stanie się dla ciebie czymś
        zupełnie naturalnym. Podczas odrabiania specjalnie opracowanych zadań domowych wcielisz się w rolę specjalisty
        radiologa i będziesz samodzielnie analizować zdjęcia rentgenowskie najczęstszych przypadków klinicznych.
        Wszystko
        podane w przystępnej formie rozłożonej na tematyczne moduły ułatwiające przyswojenie sobie materiału.
    </p>
</div>