<h1 style="margin-top: 1em;" id="rtgkosci">
    Radiologia Układu Kostnego
</h1>
<div class="rtgkosci" style="padding: 0.5em 2em;">

    <p>
        Podczas tego intensywnego 7-tygodniowego kursu nauczysz się jak właściwie dobrać odpowiedni dla pacjenta rodzaj
        badania i jego parametry, wprawisz się w sztuce pozycjonowania i wyćwiczysz w interpretacji zdjęć rentgenowskich
        układu kostnego. Pokażemy ci mnóstwo prawdziwych zdjęć rentgenowskich, dzięki czemu rozpoznawanie jednostek
        chorobowych stanie się dla ciebie czymś zupełnie naturalnym.
    </p>
    __SIGNON__
</div>