<div class="rozrodkoni">
    <h1 id="rozrodkoni">
        Rozród Koni - Klacze
    </h1>

    <p>
        Podczas tego intensywnego, 5-tygodniowego kursu, wejdziesz w buty doświadczonego lekarza i opiekuna klaczy na
        każdym
        etapie rozrodu - od jej przygotowanie, przez ciążę, po opiekę po porodzie. Czekają na Ciebie szczegółowe
        omówienia
        każdego elementu w nagraniach wideo, uzupełnione materiałami dodatkowymi, zagadkami klinicznymi i odpowiedziami
        na
        Wasze anonimowe pytania w ramach sesji Q&A - wszystko, dla zdrowia Twoich pacjentek i ich źrebiąt.
    </p>
</div>