<h1 style="margin-top: 1em;" id="ecc1">Stany Nagłe Część 1</h1>
<div class="ecc1" style="padding: 0.5em 2em;">

    <p>
        Kurs skierowany jest do lekarzy weterynarii, którzy chcą rozwinąć wiedzę i umiejętności niezbędne do reagowania
        w
        sytuacjach nagłych. Podczas tego 9-tygodniowego kursu poznasz kluczowe aspekty diagnozowania i leczenia
        pacjentów w
        stanach nagłych, jednocześnie rozwijając swoje umiejętności analityczne, zespołowe i komunikacyjne.
    </p>
    __SIGNON__
</div>