<h1 style="margin-top: 1em;" id="egzotyki">Zwierzęta Egzotyczne w Codziennej Praktyce</h1>
<div class="egzotyki" style="padding: 0.5em 2em;">

    <p>
        Czy chcesz opanować niezbędną wiedzę potrzebną do leczenia zwierząt egzotycznych? Podczas tego intensywnego 9
        -tygodniowego kursu nauczysz się jak przeprowadzać wywiad, wykonywać badania kliniczne różnych małych ssaków
        oraz
        gadów, a także ich leczenia. Zdobądź cenne umiejętności i wiedzę, która pomoże poczuć Ci się pewnie w leczeniu
        zwierząt egzotycznych.
    </p>
    __SIGNON__
</div>